.homePage {
    background-color: #f6f6f6;
}

@media screen and (max-width: 600px) {
    .cardGroup {
        padding: 0;
    }

}

.cardGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

html{
    min-height: 100%;
}

 body {
    min-height:100%;
}

.content{
    position: relative;
    min-height: 100vh;
    background-color: #f6f6f6;
}