.loginModalButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color:#2ca0c7;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.loginModalButton:hover {
	background-color:#0abafa;
}
.loginModalButton:active {
	position:relative;
	top:1px;
}
