.cardGroup {
    background-color: #f6f6f6;
}

.product-card {
    margin-bottom: 35px;
}

.product-image {
    background-color: #ffe35cba;
    min-height: 300px;
}

.product-title {
    font-size: 26px !important;
    color: #ff5284;
}

.card-text {
    margin-top: 25px;
    color: #737373;
    font-size: 15px !important;
    font-style: italic;
    line-height: 28.5px;
}

.key-text {
    font-weight: 700;
}