.SearchPage .cardGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    grid-area: cardGroup;
}
.SearchPage .dropdown{
    grid-area: sortButton;
}
.SearchPage .searchFor{
    grid-area: searchFor;
}
.SearchPage .filterMenu{
    grid-area: filterMenu;
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    border: 2px solid #999999;
    min-height: 300px;
    max-height: 300px;
    border-radius: 5px;
}
.SearchPage .filterMenu .dropdownFilter{
    width: 100%;
}
.SearchPage .dropdownSort{
    width: 30%;
}
.SearchPage {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "searchFor sortButton"
    "filterMenu cardGroup";
}
