@import "src/sass/Header.scss";
@import "src/sass/HomePage.scss";
@import "src/sass/SearchPage.scss";
@import "src/sass/CardProductCart.scss";
@import "src/sass/CartPage.scss";
@import "src/sass/Card.scss";
@import "src/sass/CommentsContainer.scss";
@import "src/sass/CategoryPage.scss";
@import "src/sass/Product.scss";
@import "src/sass/RecommendationCard.scss"

html, body {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
